!! better font rendering
xft.antialias:  1
xft.hinting:    1
Xft.autohint:   0
Xft.rgba:       rgb
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault

*font:          mono-14

!! Colors for st
#include ".Xresources.d/color"
